.speech {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    
}
.song {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    
}
.direction {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    background-color: aqua;
    
}
.direction:hover{
    color: green;
    background-color: red;
    
}
.name {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    
}
.CHORUS{
    color: coral;
}
.DAME{
    color: indigo;
    font-style: normal;
    
}
.WOMEN{
    color: blue;
}
.WILFRED{
    color: green;
}
.POINT{
    color: red;
}
.FAIRFAX{
    color: violet;
}
.ALL{
    color: orange;
}
.JANE{
    color: green;
}
.GROS{
    color: pink;
}
.ANGELA{
    color: red;
}

#singers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:red;
    color: white;
  }

  #singers td, #singers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  table, th, td {
    border: 1px solid black;
  }
  .name:hover{
    color: darkblue;
    background-color: yellow;
    
}
ul.navbar-horizontal {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    ul.navbar-horizontal li {
    float:left; 
    color:#000;
    background-color:blue
    }
    ul.navbar-horizontal a {
    display:block;
    padding: 20px;
    color: violet;
    }
    ul.navbar-horizontal a:hover {
    background-color: #555;
    color:white;
    }
    img {
        width:300;
        height:300;
      }
   




