.speech {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    
}
.song {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    
}
.direction {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    background-color: aqua;
    
}
.direction:hover{
    color: green;
    background-color: red;
    
}
.name {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    
}
.CHORUS{
    color: coral;
}
.DAME{
    color: indigo;
    font-style: normal;
    
}
.WOMEN{
    color: blue;
}
.WILFRED{
    color: green;
}
.POINT{
    color: red;
}
.FAIRFAX{
    color: violet;
}
.ALL{
    color: orange;
}

#singers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:red;
    color: white;
  }

  #singers td, #singers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  table, th, td {
    border: 1px solid black;
  }
   




